@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.pretendard');
  }
  body {
    @apply bg-[#FAFBFC] text-kv-lg font-kv-regular text-kv-black;
  }
}

@layer components {
  .icon-size {
    @apply h-6 w-6; /* width: 24px, hegiht: 24px */
  }

  .btn-gray {
    @apply border-kv-gray-4b bg-kv-gray-100 align-center hover:bg-kv-gray-200 active:bg-kv-gray-300 disabled:bg-kv-gray-400;
  }

  .btn-blue {
    @apply bg-kv-primary-blue text-white hover:bg-kv-primary-blue-hover active:bg-kv-primary-blue-active disabled:bg-kv-gray-600;
  }

  .btn-outline {
    @apply pc:w-[127px] tablet:w-[120px] pc:h-[53px] tablet:h-[53px] h-[41px] w-[90px] pc:px-5 tablet:px-4 px-3 rounded-[15px] border border-kv-primary-blue-light bg-white pc:kv-text-2lg tablet:kv-text-2lg kv-text-md font-kv-medium text-kv-gray-4b hover:bg-kv-gray-100 active:bg-kv-gray-200
  }

  .base-button-default {
    @apply rounded-md py-[11px] text-kv-lg font-kv-bold;
  }
}

/* my-activity page styles */
@layer components {
  .size-my-act-img {
    @apply size-[167px] pc:size-[180px] tablet:size-[206px];
  }
  .size-my-act-date {
    @apply w-[130px] pc:w-[380px] tablet:w-[150px];
  }
  .size-my-act-time {
    @apply w-[80px] pc:w-[140px] tablet:w-[104px];
  }

  .h2-my-act {
    @apply mb-3 text-kv-xl font-kv-bold pc:mb-4 pc:text-kv-2xl tablet:mb-4 tablet:text-kv-2xl;
  }

  .input-my-act {
    @apply flex h-11 items-center rounded border border-kv-gray-79 bg-white px-2.5 text-kv-md pc:h-14 pc:px-4 pc:text-kv-lg tablet:h-14 tablet:px-4 tablet:text-kv-lg;
  }

  .schedule-my-act {
    @apply flex gap-1 pc:gap-5 tablet:gap-2;
  }

  .times-my-act {
    @apply flex h-full gap-1 pc:gap-3 tablet:gap-[5px];
  }

  .label-my-act-schedule {
    @apply text-kv-lg font-medium text-kv-gray-4b pc:text-kv-xl tablet:text-kv-xl;
  }

  .size-my-act-date .input-my-act {
    @apply flex h-11 items-center rounded border border-kv-gray-79 bg-white px-2.5 text-kv-md pc:h-14 pc:px-4 pc:text-kv-lg tablet:h-14 tablet:px-4 tablet:text-kv-lg;
  }
}

/* date picker custom styles */
@layer components {
  .react-datepicker__header {
    @apply !border-b-0 !bg-white !pb-0;
  }

  .custom-datepicker .react-datepicker__header {
    @apply border-b-0 bg-white pb-0;
  }

  .custom-datepicker .react-datepicker {
    @apply border-kv-gray-600;
  }

  .custom-datepicker .react-datepicker {
    @apply border-kv-gray-600;
  }

  .react-datepicker__day--selected {
    @apply !bg-transparent !text-inherit;
  }

  .react-datepicker__day:hover {
    @apply !bg-inherit text-kv-red;
  }

  .react-datepicker__day--keyboard-selected {
    @apply !animate-fadeIn !bg-inherit;
  }

  .react-datepicker__month {
    @apply !pr-[10px];
  }
}

/* DayMarker styles */
@layer components {
  .day-marker-today {
    @apply bg-[#E0E5FF] text-kv-primary-blue;
  }

  .day-marker-selected {
    @apply bg-kv-primary-blue text-white;
  }
}

/* Layout styles */
@layer components {
  .layout-content-container {
    @apply mx-4 flex w-full pc:w-[1200px] tablet:mx-6 tablet:w-full;
  }
  .footer-link-styles {
    @apply font-sans text-base font-normal;
  }
  .header-link-styles {
    @apply cursor-pointer font-kv-medium text-kv-black kv-text-md hover:text-kv-gray-600 active:text-kv-gray-800;
  }
  .layout-content-container {
    @apply mx-4 flex w-full pc:w-[1200px] tablet:mx-6 tablet:w-full;
  }
  .layout-container {
    @apply flex min-h-screen flex-col;
  }

  .layout-header-wrapper {
    @apply fixed left-0 right-0 top-0 z-10;
  }

  .layout-header-spacer {
    @apply h-[70px] w-full bg-kv-gray-100;
  }

  .layout-content-margin-top {
    @apply min-h-6 bg-kv-gray-100;
  }

  .layout-content-margin-bottom {
    @apply h-[120px] w-full bg-kv-gray-100;
  }
}

/* Layout styles */
@layer utilities {
  .align-center {
    @apply flex items-center justify-center;
  }
}
/* 모달 */
@layer components {
  .modal-container {
    @apply pointer-events-auto relative flex flex-col rounded-lg bg-white shadow-lg;
  }

  .modal-content {
    @apply flex flex-grow items-center justify-center px-6;
  }

  .modal-text {
    @apply mb-[28px] overflow-hidden text-center font-kv-medium;
  }

  .modal-button-common {
    @apply absolute bottom-[28px] h-[38px] w-[80px] rounded-[8px] text-kv-md font-kv-medium;
  }
}

/* 예약카드 */
@layer components {
  .container-header-reservation {
    @apply mx-6 mb-7 flex h-12 w-[327px] items-center justify-between;
  }

  .title-header-reservation {
    @apply text-kv-2xl font-kv-bold;
  }

  .icon-header-reservation {
    @apply size-10 hover:cursor-pointer;
  }

  .base-title-content {
    @apply mb-4 text-kv-xl font-kv-bold;
  }

  .button-reservation-default {
    @apply my-6 w-full bg-kv-primary-blue text-white;
  }

  .container-summary-total-default {
    @apply flex justify-between;
  }

  .label-summary-total-default {
    @apply text-kv-xl font-kv-bold;
  }

  .amount-summary-total-default {
    @apply text-kv-xl font-kv-bold text-kv-primary-blue;
  }

  .container-counter-participant-default {
    @apply mt-3 flex w-[327px] flex-col gap-6 pc:gap-[5px] tablet:gap-[5px];
  }

  .title-counter-participant-default {
    @apply text-kv-xl font-kv-medium pc:text-kv-2lg pc:font-kv-bold tablet:text-kv-2lg tablet:font-kv-bold;
  }

  .counter-participant-default {
    @apply flex h-10 w-[120px] items-center justify-between gap-2 rounded-[6px] border-2;
  }

  .button-counter-participant-default {
    @apply flex size-10 align-center hover:cursor-pointer;
  }

  .icon-button-counter-participant-default {
    @apply size-5 text-kv-primary-blue;
  }

  .text-button-counter-participant-default {
    @apply text-kv-primary-blue;
  }

  .container-display-price-default {
    @apply flex items-center gap-[5px] pl-6 pt-6;
  }

  .price-display-price-default {
    @apply text-kv-2xl font-kv-bold;
  }

  .unit-display-price-default {
    @apply text-kv-lg font-kv-regular;
  }

  .base-button-date-select-default {
    @apply mt-[5px] py-0 text-kv-primary-blue;
  }
}

/* dropdown styles */
@layer components {
  .value-dropdown-basic {
    @apply h-11 bg-white px-2.5 hover:bg-kv-gray-100 pc:h-14 pc:px-4 tablet:h-14 tablet:px-4;
  }

  .value-dropdown-button {
    @apply value-dropdown-basic rounded border border-kv-gray-79 focus:bg-kv-gray-200;
  }

  .pos-value-dropdown-menus {
    @apply top-12 max-h-[220px] overflow-y-auto border border-kv-gray-300 pc:top-16 pc:max-h-[300px] tablet:top-16;
  }

  .dropdown-menu {
    @apply value-dropdown-basic border-kv-gray-300 text-left active:bg-kv-gray-200;
  }

  .sort-dropdown-menu {
    @apply block h-[41px] w-full text-left font-kv-medium text-kv-gray-4b kv-text-md align-center hover:bg-kv-gray-100 active:bg-kv-gray-200 pc:h-[53px] pc:kv-text-2lg tablet:h-[53px] tablet:kv-text-2lg border-kv-primary-blue-light;
  }
}

/* 프로필 스타일 */
@layer components {
  /* 저장하기 버튼 */
  .save-btn {
    @apply cursor-pointer rounded bg-kv-primary-blue px-8 py-3 font-kv-semibold text-white hover:bg-[#233CC1];
  }

  .profile-input-group {
    @apply mb-8;
  }

  .profile-label.custom-label-style {
    @apply mb-4 block text-kv-2xl font-kv-bold;
  }

  .profile-input {
    @apply h-14 w-full rounded border border-kv-primary-blue-light px-5 py-4 outline-none focus:border-kv-primary-blue;
  }

  .profile-input-error {
    @apply border-kv-red focus:border-kv-red;
  }

  .profile-input-readonly {
    @apply cursor-not-allowed border-kv-primary-blue-light focus:border-kv-primary-blue-light;
  }

  .lnb-link {
    @apply flex gap-3.5 rounded-xl fill-current px-5 py-2.5 font-kv-semibold text-kv-gray-600 transition ease-in-out hover:bg-kv-primary-blue-light hover:text-kv-primary-blue;
  }

  .lnb-link-active {
    @apply bg-kv-primary-blue-light text-kv-primary-blue;
  }
}

/* 예약 현황의 달력 */
@layer components {
  /* 달력 최상단 컨테이너 */
  .custom-calendar.react-calendar {
    @apply flex w-full flex-col items-center rounded-xl text-kv-xl font-kv-medium shadow-lg;
  }
  /* 2024년 8월 네비게이션 컨테이너 */
  .custom-calendar .react-calendar__navigation {
    @apply flex h-[60px] w-full max-w-[342px] gap-[38px] bg-none text-kv-xl font-kv-bold text-kv-black;
  }
  /*  */
  .custom-calendar .react-calendar__navigation__label {
    @apply w-[140px];
  }
  /* month 이동 화살표 */
  .custom-calendar .react-calendar__navigation__arrow {
    @apply w-[60px];
  }
  /* 연도 이동 화살표 */
  .custom-calendar .react-calendar__navigation__next2-button,
  .custom-calendar .react-calendar__navigation__prev2-button {
    @apply hidden;
  }
  /* 월화수목금토일 컨테이너 */
  .custom-calendar .react-calendar__month-view__weekdays {
    @apply rounded-t-lg border bg-white;
  }
  /* 월화수목금토일 글자 */
  .custom-calendar
    .react-calendar__month-view__weekdays__weekday:not(:last-child) {
    @apply border-r;
  }
  .custom-calendar .react-calendar__month-view__weekdays__weekday {
    @apply pl-[12px];
  }
  /* 1일, 2일...숫자 컨테이너 */
  .custom-calendar .react-calendar__tile {
    @apply flex h-[154px] max-w-[114px] flex-col justify-between border border-kv-gray-300 bg-white hover:border-kv-green;
  }
  .custom-calendar .react-calendar__tile:nth-last-child(7) {
    @apply rounded-bl-lg;
  }
  .custom-calendar .react-calendar__tile:last-child {
    @apply rounded-br-lg;
  }
  /* 1일, 2일...숫자 */
  .custom-calendar .react-calendar__tile abbr {
    @apply pl-[12px] pt-[12px] text-kv-xl;
  }
  /* 이전달 다음달 글자색 */
  .custom-calendar .previus-month,
  .custom-calendar .next-month {
    @apply text-gray-300;
  }
  /* 예약 현황 칩 */
  .custom-calendar .reservation-chip {
    @apply z-[1] mt-[2px] flex h-[23px] w-full rounded-md pl-[4px] text-kv-xs pc:text-kv-md tablet:text-kv-md;
  }
  .custom-calendar .chip-container {
    @apply relative w-full px-[2px] py-[2px];
  }
  /* 완료 칩 */
  .custom-calendar .complete-chip {
    @apply bg-kv-gray-300 text-kv-black;
  }
  /* 예약 칩 */
  .custom-calendar .reserve-chip {
    @apply bg-kv-primary-blue text-white;
  }
  /* 승인 칩 */
  .custom-calendar .approve-chip {
    @apply bg-kv-orange-light text-kv-orange;
  }
  /* 색점 */
  .custom-calendar .color-dot {
    @apply absolute -top-[60px] left-[36px] h-[8px] w-[8px] rounded-full;
  }
  /*  */
}

/* 케밥 */
@layer components {
  .kebab-menu {
    @apply cursor-pointer py-4 text-center text-kv-2lg font-kv-medium hover:bg-kv-gray-200;
  }
  .kebal-first-menu {
    @apply border-b border-kv-gray-300;
  }
}

/* 체험 상세 */
@layer components {
  .top-line {
    @apply mb-10 border-t border-kv-gray-300 pt-10;
  }

  .activity-h3 {
    @apply mb-5 text-kv-xl font-kv-bold;
  }
}
/* 체험 카드 */
@layer components {
  .activity-card-title {
    @apply kv-text-md tablet:kv-text-2lg  pc:kv-text-xl font-kv-bold text-kv-black truncate;
  }
  .activity-card-price {
    @apply kv-text-lg tablet:kv-text-xl pc:kv-text-2xl font-kv-medium;
  }
  .activity-reservation-card-button {
    @apply w-20 h-8 pc:w-[144px] pc:h-[43.08px] tablet:w-[112px] tablet:h-10 pc:text-kv-lg tablet:text-kv-lg text-kv-md font-kv-medium align-center !important;
  }
}
